<div class="hidden dialog" id="add-curator">
  <a class="close" href="#">&times;</a>
  <h2>{{ _('Add a Curator') }}</h2>

  <form class="form-grid">
    <label>
      <span class="required">{{ _('User Email Address') }}</span>
      <input type="email" name="uid" required>
      <p class="hint">{{ _('Enter the email address of a user that you wish to make a curator for this collection.') }}</p>
    </label>

    <label><button type="submit" class="button">{{ _('Namaste') }}</label>
  </form>
</div>
