<div class="hidden dialog" id="add-curator">
  <a class="close" href="#">&times;</a>
  <h2>{{ _('Add a Curator') }}</h2>

  <form class="form-grid">
    <label>
      <span class="required">{{ _('User ID') }}</span>
      <input type="number" name="uid" required pattern="[1-9][0-9]*">
      <p class="hint">{{ _('Enter the ID of a user. User IDs can be found in <a href="{url}" rel="external">the lookup tool</a>.', url='/lookup/') }}</p>
    </label>

    <label><button type="submit" class="button">{{ _("Namaste") }}</label>
  </form>
</div>
