{% from "_macros/app.html" import app %}
{% from "_macros/dropdowns.html" import category_dropdown, region_dropdown, carrier_dropdown %}

<section class="main" data-id="{{ id }}">
{% defer (url=api('collection', [id]), as='collection', key=id, id='main') %}
  {% include "app_search.html" %}
  {% include "duplicate_collection.html" %}

  <section class="row gutter">
    <div class="two-thirds">
      <div class="well">
        <h1>
          <div class="fat field" data-field="name">
            <p>{{ this.name|translate(this) }}</p>
            <form><input type="translated" required data-value="{{ this.name|stringify|escape }}" pattern="[^\s].*|\s+\S.+"></form>
          </div>
        </h1>
        {% if this.author and this.author != 'nobody' %}
          <div class="field" data-field="author">
            <label>{{ _('Author:') }}</label>
            <p>{{ this.author }}</p>
            <form><input type="text" required value="{{ this.author }}" maxlength="255"></form>
          </div>
        {% endif %}

        <div class="field" data-field="slug">
          <label>{{ _('Slug:') }}</label>
          <p>{{ this.slug }}</p>
          <form><input type="text" required pattern="[a-zA-Z][\w\-]*" value="{{ this.slug }}" maxlength="30"></form>
        </div>

        <div class="field" data-field="region">
          <label>{{ _('Region:') }}</label>
          <p>{{ model_lookup('region', this.region).name if this.region else '--' }}</p>
          <form>{{ region_dropdown(name='region', default=this.region, allow_null=(this.collection_type != 0), pretty=False) }}</form>
        </div>
        {% if this.collection_type != 0 %}
          <div class="field" data-field="carrier">
            <label>{{ _('Carrier:') }}</label>
            <p>{{ model_lookup('carrier', this.carrier).name if this.carrier else '--' }}</p>
            <form>{{ carrier_dropdown(name='carrier', default=this.carrier or 0, pretty=False) }}</form>
          </div>
        {% endif %}
        {% if this.collection_type != 2 %}
          <div class="field" data-field="category">
            <label>{{ _('Category:') }}</label>
            <p>{{ model_lookup('category', this.category).name if this.category else _('All Categories (Homepage)') }}</p>
            <form>{{ category_dropdown(name='category', default=this.category, pretty=False) }}</form>
          </div>
        {% endif %}

        <div class="text field" data-field="description">
          <label>{{ _('Description:') }}</label>
          <p>{{ this.description|translate(this) }}</p>
          <form><textarea translated data-value="{{ this.description|stringify|escape }}" pattern="[^\s].*|\s+\S.+"></textarea></form>
        </div>
      </div>
      {# Curated collection customization fields #}
      {% if this.collection_type == 0 %}
        <div class="well">
          <h2>{{ _('Customization') }}</h2>
          <div class="field" data-field="background_color">
            <label>{{ _('Background:') }}</label>
            <p>
              <span class="chiclet" style="background-color:{{ this.background_color }}"></span>
              {{ this.background_color }}
            </p>
            <form><input type="text" required pattern="{{ COLOR_PATTERN }}" value="{{ this.background_color }}"></form>
          </div>
          <div class="field" data-field="text_color">
            <label>{{ _('Text:') }}</label>
            <p>
              <span class="chiclet" style="background-color:{{ this.text_color }}"></span>
              {{ this.text_color }}
            </p>
            <form><input type="text" required pattern="{{ COLOR_PATTERN }}" value="{{ this.text_color }}"></form>
          </div>
        </div>
      {% endif %}
      <div class="well">
        <h2>{{ _('Apps') }}</h2>
        <ul class="apps" id="app-list">
          {% for app_object in this.apps %}
            {{ app(app_object, allow_delete=True, allow_reorder='true', tag='li') }}
          {% endfor %}
        </ul>
        <a href="#" class="add_app only-logged-in"><b>+</b> {{ _('Add app to collection') }}</a>
      </div>
    </div>
    <div class="third">
      <div class="well">
      </div>
      <div class="well only-logged-in">
        <a href="#" class="toggle-public nonpublic" data-id="{{ id }}">
          <b>&diams;</b> {{ _('Make Collection Public') }}</a>
      </div>
      <div class="well only-logged-in">
        <a href="#" class="duplicate_collection" data-id="{{ id }}">
          <b>&#9851;</b> {{ _('Duplicate collection') }}</a>
      </div>
      <div class="well only-logged-in">
        <a href="#" class="delete_collection" data-id="{{ id }}">
          <b>&times;</b> {{ _('Delete collection') }}</a>
      </div>
    </div>
  </section>
{% placeholder %}
  <div class="spinner with-some-padding"></div>
{% except %}
  {{ _('Error loading the collection.') }}
{% end %}
</section>
