{% from "_macros/app.html" import app %}

<section class="main" data-id="{{ id }}">
{% defer (url=api('collection', [id]), as='collection', key=id, id='main') %}
  <div class="hidden dialog" id="app_search">
    <a class="close" href="#">&times;</a>
    <h2>{{ _('Add Apps') }}</h2>
    <form>
      <input type="search" placeholder="{{ _('Search') }}"> <button type="submit">{{ _('Search') }}</button>
    </form>
    <ul id="app_search_results"></ul>
  </div>
  <section class="row gutter">
    <div class="two-thirds">
      <div class="well">
        <h1>{{ this.name|translate }}</h1>
        {% if this.author and this.author != 'nobody' %}
          <p>{{ _('Created by {author}', author=this.author) }}</p>
        {% endif %}

        <div class="row restrictions">
          <div class="third">
            {{ _('Region:') }}
            <span>{{ model_lookup('region', this.region).name if this.region else '--' }}</span>
          </div>
          <div class="third">
            {{ _('Carrier:') }}
            <span>{{ model_lookup('carrier', this.carrier).name if this.carrier else '--' }}</span>
          </div>
          <div class="third">
            {{ _('Category:') }}
            <span>{{ model_lookup('category', this.category).name if this.category else '--' }}</span>
          </div>
        </div>
      </div>
      <div class="well">
        <h2>{{ _('Description') }}</h2>
        <p>{{ this.description|translate }}</p>
      </div>
    </div>
    <div class="third">
      <div class="well">
        <h2>{{ _('Apps') }}</h2>
        <ul class="apps">
          {% for app_object in this.apps %}
            <li>{{ app(app_object, allow_delete=True) }}</li>
          {% endfor %}
        </ul>
        <a href="#" class="add_app only-logged-in"><b>+</b> {{ _('Add app to collection') }}</a>
      </div>
      <div class="well only-logged-in">
        <a href="#" class="delete_collection" data-id="{{ id }}">
          <b>&times;</b> {{ _('Delete collection') }}</a>
      </div>
    </div>
  </section>
{% placeholder %}
  {{ _('Loading collection...') }}
{% except %}
  {{ _('Error loading the collection.') }}
{% end %}
</section>
