{% from "_macros/app.html" import app %}
{% from "_macros/dropdowns.html" import category_dropdown, region_dropdown, carrier_dropdown %}

<section class="main" data-id="{{ id }}">
{% defer (url=api('collection', [id]), as='collection', key=id, id='main') %}
  <div class="hidden dialog" id="app_search">
    <a class="close" href="#">&times;</a>
    <h2>{{ _('Add Apps') }}</h2>
    <form>
      <input type="search" placeholder="{{ _('Search') }}">
    </form>
    <ul id="app_search_results"></ul>
  </div>

  <section class="row gutter">
    <div class="two-thirds">
      <div class="well">
        <h1>{{ this.name|translate(this) }}</h1>
        {% if this.author and this.author != 'nobody' %}
          <div class="field" data-field="author">
            <label>{{ _('Author:') }}</label>
            <p>{{ this.author }}</p>
            <form><input type="text" required value="{{ this.author }}"></form>
          </div>
        {% endif %}

        <div class="field" data-field="slug">
          <label>{{ _('Slug:') }}</label>
          <p>{{ this.slug }}</p>
          <form><input type="text" required pattern="[a-zA-Z][\w\-]*" value="{{ this.slug }}"></form>
        </div>

        <div class="field" data-field="region">
          <label>{{ _('Region:') }}</label>
          <p>{{ model_lookup('region', this.region).name if this.region else '--' }}</p>
          <form>{{ region_dropdown(name='region', value='id', default=this.region, allow_null=(this.collection_type != 0), pretty=False) }}</form>
        </div>
        {% if this.collection_type != 0 %}
          <div class="field" data-field="carrier">
            <label>{{ _('Carrier:') }}</label>
            <p>{{ model_lookup('carrier', this.carrier).name if this.carrier else '--' }}</p>
            <form>{{ carrier_dropdown(name='carrier', value='id', default=this.carrier or 0, pretty=False) }}</form>
          </div>
        {% endif %}
        {% if this.collection_type != 2 %}
          <div class="field" data-field="category">
            <label>{{ _('Category:') }}</label>
            <p>{{ model_lookup('category', this.category).name if this.category else '--' }}</p>
            <form>{{ category_dropdown(name='category', value='id', default=this.category, pretty=False) }}</form>
          </div>
        {% endif %}

        <div class="text field" data-field="description">
          <label>{{ _('Description:') }}</label>
          <p>{{ this.description|translate(this) }}</p>
          <form>
            <textarea translated data-value="{{ this.description|stringify|escape }}"></textarea>
            <button type="submit">{{ _('Save') }}</button>
          </form>
        </div>
      </div>
      {# Curated collection customization fields #}
      {% if this.collection_type == 0 %}
        <div class="well">
          <h2>{{ _('Customization') }}</h2>
          <div class="field" data-field="background_color">
            <label>{{ _('Background Color:') }}</label>
            <p>
              <span class="chiclet" style="background-color:{{ this.background_color }}"></span>
              {{ this.background_color }}
            </p>
            <form><input type="text" required pattern="{{ COLOR_PATTERN }}" value="{{ this.background_color }}"></form>
          </div>
          <div class="field" data-field="text_color">
            <label>{{ _('Text Color:') }}</label>
            <p>
              <span class="chiclet" style="background-color:{{ this.text_color }}"></span>
              {{ this.text_color }}
            </p>
            <form><input type="text" required pattern="{{ COLOR_PATTERN }}" value="{{ this.text_color }}"></form>
          </div>
        </div>
      {% endif %}
      <div class="well">
        <h2>{{ _('Apps') }}</h2>
        <ul class="apps" id="app-list">
          {% for app_object in this.apps %}
            {{ app(app_object, allow_delete=True, allow_reorder='true', tag='li') }}
          {% endfor %}
        </ul>
        <a href="#" class="add_app only-logged-in"><b>+</b> {{ _('Add app to collection') }}</a>
      </div>
    </div>
    <div class="third">
      <div class="well">
      </div>
      <div class="well only-logged-in">
        <a href="#" class="delete_collection" data-id="{{ id }}">
          <b>&times;</b> {{ _('Delete collection') }}</a>
      </div>
    </div>
  </section>
{% placeholder %}
  {{ _('Loading collection...') }}
{% except %}
  {{ _('Error loading the collection.') }}
{% end %}
</section>
