<div class="hidden dialog" id="duplicate_collection">
  <a class="close" href="#">&times;</a>
  <h2>{{ _('Duplicate Collection') }}</h2>

  <form class="form-grid only-logged-in" id="duplicate_collection">
    <label>
      {{ _('Name') }}
      <input type="text" name="name" required value="{{ this.name|translate(this) }}">
      <p reason="required">{{ _('A name is required') }}</p>
    </label>

    <label>
      {{ _('Slug') }}
      <input type="text" name="slug" required pattern="(?!{{ this.slug|make_regex_safe }}$)[a-zA-Z][\w\-]*" maxlength="30" value="{{ this.slug }}">
      <p reason="required">{{ _('A slug is required') }}</p>
      <p reason="invalid">{{ _('Slugs must start with a letter and can only contain letters, numbers, and hyphens. It must be 30 characters or less and cannot be the same as the existing collection.') }}</p>
    </label>

    {# TODO(cvan): If only we had a sea-based CSS framework that would eliminate the need for silly markup... #}
    <label><button type="submit" class="button">{{ _("Duplicate") }}</label>
  </form>
</div>
