{% from "_macros/collections.html" import collection_overview %}
{% from "_macros/dropdowns.html" import category_dropdown, region_dropdown, carrier_dropdown %}

{% if not user.get_permission('publisher') %}
<section class="alert only-logged-in">
  <h1>{{ _('You are not logged in as a Marketplace Publisher') }}</h1>
  <p>{{ _('In order to create or modify collections, you must be logged in as a Marketplace Publisher to effectively use this tool.') }}</p>
</section>
{% endif %}

<section class="row home_filters form-grid gutter c">
  <div class="third">
    <label class="full">
      {{ _('Category') }}
      {{ category_dropdown(default=category) }}
    </label>
  </div>
  <div class="third">
    <label class="full">
      {{ _('Region') }}
      {{ region_dropdown(default=region or '1') }}
    </label>
  </div>
  <div class="third">
    <label class="full">
      {{ _('Carrier') }}
      {{ carrier_dropdown(default=carrier or '0') }}
    </label>
  </div>
</section>

<section class="row gutter">
  <div class="third">
    <iframe class="full" src="" height="480" id="filter_preview"></iframe>
  </div>
  <div class="two-thirds">
    {% defer (url=apiParams('collections', cat=category), pluck='objects', as='collection', id='collection_list') %}
      <section class="group">
        <h2>{{ _('Collections') }}</h2>
        {% set results = this|filter(collection_type=0, category=category or None, region=[region, None]) %}
        {% if results.length %}
          {% for collection in results %}
            {{ collection_overview(collection, show_thumbs=True) }}
          {% endfor %}
        {% else %}
          <p>{{ _('No collections have been created.') }}</p>
        {% endif %}
        <a class="new_collection only-logged-in"
           href="{{ get_url_params(url('new_collection'), 'basic') }}">
          <b>+</b> {{ _('Add a new collection' )}}</a>
      </section>
      <section class="group">
        <h2>{{ _('Featured Apps') }}</h2>
        {% set results = this|filter(collection_type=1, category=category or None, region=[region, None], carrier=[carrier, None]) %}
        {% if results.length %}
          {% for collection in results %}
            {{ collection_overview(collection, show_thumbs=True) }}
          {% endfor %}
        {% else %}
          <p>{{ _('No featured app sections have been created.') }}</p>
        {% endif %}
        <a class="new_collection only-logged-in"
           href="{{ get_url_params(url('new_collection'), 'featured') }}">
          <b>+</b> {{ _('Add a new featured app collection' )}}</a>
      </section>
      {# Only show OSCs if we're on the homepage. #}
      {% if not category %}
        <section class="group">
          <h2>{{ _('Operator Shelves') }}</h2>
          {% if carrier %}
            {% set results = this|filter(collection_type=2, region=[region, None], carrier=[carrier, None]) %}
            {% if results.length %}
              {% for collection in results %}
                {{ collection_overview(collection, show_thumbs=True) }}
              {% endfor %}
            {% else %}
              <p>{{ _('No operator shelves have been created.') }}</p>
            {% endif %}
            <a class="new_collection only-logged-in"
               href="{{ get_url_params(url('new_collection'), 'operator') }}">
              <b>+</b> {{ _('Add a new operator shelf' )}}</a>
          {% else %}
            <p>{{ _('Please select a carrier to see operator shelves.') }}</p>
          {% endif %}
        </section>
      {% endif %}
    {% placeholder %}
      <div class="spinner with-some-padding"></div>
    {% end %}
  </div>
</section>
