{% from "_macros/collections.html" import collection_overview %}
{% from "_macros/dropdowns.html" import category_dropdown, region_dropdown, carrier_dropdown %}

<section class="row home_filters form-grid gutter">
  <div class="third">
    <label for="filter_category">{{ _('Category') }}</label>
    {{ category_dropdown(default=category) }}
  </div>
  <div class="third">
    <label for="filter_region">{{ _('Region') }}</label>
    {{ region_dropdown(default=region) }}
  </div>
  <div class="third">
    <label for="filter_carrier">{{ _('Carrier') }}</label>
    {{ carrier_dropdown(default=carrier or 'carrierless') }}
  </div>
</section>

<section class="row gutter">
  <div class="third">
    <iframe class="full" src="{{ settings.api_url }}/{{ 'category/' + category if category }}?region={{ region }}&amp;lang={{ language }}{{ '&carrier=' + carrier if carrier }}" height="480" id="filter_preview"></iframe>
  </div>
  <div class="two-thirds">
    {% defer (url=api('collections'), pluck='objects', as='collection', id='collection_list') %}
      <section class="group">
        <h2>Collections</h2>
        {% set results = this|filter(collection_type=0) %}
        {% if results.length %}
          {% for collection in results %}
            {{ collection_overview(collection) }}
          {% endfor %}
        {% else %}
          <p>{{ _('No collections have been created.') }}</p>
        {% endif %}
        <a class="new_collection" href="{{ get_url_params(url('new_collection'), 'basic') }}">
          <b>+</b> {{ _('Add a new collection' )}}</a>
      </section>
      <section class="group">
        <h2>Featured Apps</h2>
        {% set results = this|filter(collection_type=1) %}
        {% if results.length %}
          {% for collection in results %}
            {{ collection_overview(collection) }}
          {% endfor %}
        {% else %}
          <p>{{ _('No featured app sections have been created.') }}</p>
        {% endif %}
        <a class="new_collection" href="{{ get_url_params(url('new_collection'), 'featured') }}">
          <b>+</b> {{ _('Add a new featured app collection' )}}</a>
      </section>
      <section class="group">
        <h2>Operator Shelves</h2>
        {% set results = this|filter(collection_type=2) %}
        {% if results.length %}
          {% for collection in results %}
            {{ collection_overview(collection) }}
          {% endfor %}
        {% else %}
          <p>{{ _('No operator shelves have been created.') }}</p>
        {% endif %}
        <a class="new_collection" href="{{ get_url_params(url('new_collection'), 'operator') }}">
          <b>+</b> {{ _('Add a new operator shelf' )}}</a>
      </section>
    {% placeholder %}
      {{ _('Loading collections...') }}
    {% end %}
  </div>
</section>
