{% from "_macros/dropdowns.html" import category_dropdown, region_dropdown, carrier_dropdown %}

<h1>{{ _('New {collection_type}', collection_type=settings.COLLECTION_TYPES[type]) }}</h1>
<form class="form-grid only-logged-in" id="new_collection">
  <input type="hidden" name="collection_type" value="{{ type }}">

  <label>
    {{ _('Name') }}
    <input type="text" name="name" required>
    {% if type == 1 %}
      <p>{{ _('The name is not shown to users, it is only for convenience.') }}</p>
    {% endif %}
    <p reason="required">{{ _('A name is required') }}</p>
  </label>

  <label>
    {{ _('Collection Slug') }}
    <input type="text" name="slug" required pattern="[a-zA-Z][\w\-]*" maxlength="30">
    <p reason="required">{{ _('A slug is required') }}</p>
    <p reason="invalid">{{ _('Slugs must start with a letter and can only contain letters, numbers, and hyphens. It must be 30 characters or less.') }}</p>
  </label>

  {# Only curated collections get authors #}
  {% if type == 0 %}
    <label>
      {{ _('Author Name') }}
      <input type="text" name="author">
    </label>
  {% endif %}

  <label>
    {{ _('Description') }}
    <textarea name="description" required></textarea>
    <p reason="required">{{ _('A description is required') }}</p>
  </label>

  <div class="row gutter">
    {# Operator shelves don't get categories. #}
    {% set show_cat = type != 2 %}

    {# Basic collections don't get carriers. #}
    {% set show_carrier = type != 0 %}

    {% set colmode = 'third' if show_cat and show_carrier else 'half' %}

    {% if show_cat %}
      <label class="{{ colmode }}">
        {{ _('Category') }}
        {{ category_dropdown(name='category', value='id', default=category) }}
      </label>
    {% endif %}
    <label class="{{ colmode }}">
      {{ _('Region') }}
      {# Non-basic collections should allow null regions. #}
      {{ region_dropdown(name='region', value='id', default=region, allow_null=(type != 0)) }}
    </label>
    {% if show_carrier %}
      <label class="{{ colmode }}">
        {{ _('Carrier') }}
        {{ carrier_dropdown(name='carrier', value='id', default=carrier or 0, allow_null=(type != 2)) }}
      </label>
    {% endif %}
  </div>

  {# Only curated collections get color values #}
  {% if type == 0 %}
  <div class="row gutter">
    <label class="half">
      {{ _('Background Color') }}
      <input type="color" name="background_color" required pattern="{{ COLOR_PATTERN }}" value="#FFFFFF">
      <p reason="required">{{ _('A background color is required') }}</p>
      <p reason="invalid">{{ _('Please enter a hex color (e.g.: "#AB78EF")') }}</p>
    </label>

    <label class="half">
      {{ _('Text Color') }}
      <input type="color" name="text_color" required pattern="{{ COLOR_PATTERN }}" value="#B2B2B2">
      <p reason="required">{{ _('A text color is required') }}</p>
      <p reason="invalid">{{ _('Please enter a hex color (e.g.: "#AB78EF")') }}</p>
    </label>
  </div>
  {% endif %}

  <footer>
    <p><button type="submit" class="button">{{ _('Create') }}</button></p>
  </footer>
</form>

<div class="only-logged-out group">
  <h2>{{ _('Unauthorized') }}</h2>
  <p>{{ _('You must be logged in to create collections.') }}</p>
</div>
