<section class="main">
<h1>{{ _('New Collection') }}</h1>
<form class="form-grid account-settings" id="new_collection">
  <div class="simple-field c">
    <label for="name">{{ _('Name') }}</label>
    <input type="text" name="name" required>
  </div>

  <div class="brform simple-field c">
    <label for="description">{{ _('Description') }}</label>
    <textarea name="description" required></textarea>
  </div>

  <footer>
    <p><button type="submit" class="button">{{ _('Create') }}</button></p>
  </footer>
</form>
</section>
