{% from "_macros/dropdowns.html" import category_dropdown, region_dropdown, carrier_dropdown %}

<h1>{{ _('New {collection_type}', collection_type=settings.COLLECTION_TYPES[type]) }}</h1>
<form class="form-grid only-logged-in" id="new_collection">
  <input type="hidden" name="collection_type" value="{{ type }}">

  <div class="simple-field c">
    <label for="name">{{ _('Name') }}</label>
    <input type="text" name="name" required>
  </div>

  {# Only curated collections get authors #}
  {% if type == 0 %}
  <div class="simple-field c">
    <label for="name">{{ _('Author Name') }}</label>
    <input type="text" name="author">
  </div>
  {% endif %}

  <div class="brform simple-field c">
    <label for="description">{{ _('Description') }}</label>
    <textarea name="description"></textarea>
  </div>

  <div class="row gutter">
    {# Operator shelves don't get categories. #}
    {% set show_cat = type != 2 %}

    {# Basic collections don't get carriers. #}
    {% set show_carrier = type != 0 %}

    {% set colmode = 'third' if show_cat and show_carrier else 'half' %}

    {% if show_cat %}
      <div class="{{ colmode }}">
        <label for="filter_category">{{ _('Category') }}</label>
        {{ category_dropdown(name='category', value='id', default=category) }}
      </div>
    {% endif %}
    <div class="{{ colmode }}">
      <label for="filter_region">{{ _('Region') }}</label>
      {{ region_dropdown(name='region', value='id', default=region) }}
    </div>
    {% if show_carrier %}
      <div class="{{ colmode }}">
        <label for="filter_carrier">{{ _('Carrier') }}</label>
        {{ carrier_dropdown(name='carrier', value='id', default=carrier or 0) }}
      </div>
    {% endif %}
  </div>

  <footer>
    <p><button type="submit" class="button">{{ _('Create') }}</button></p>
  </footer>
</form>
<div class="only-logged-out group">
  <h2>{{ _('Unauthorized') }}</h2>
  <p>{{ _('You must be logged in to create collections.') }}</p>
</div>
