{% macro app(data, icon_size=32, allow_delete=False, allow_reorder=False, tag='a') %}
<{{ tag }} href="#" class="app" data-id="{{ data.id }}">
  {% if allow_delete %}
  	<span class="delete">&times;</span>
  {% endif %}
  {% if allow_reorder %}
  	<div class="handle">↑↓</div>
  {% endif %}
  <img src="{{ data.icons['128'] }}" alt="" height="{{ icon_size }}" width="{{ icon_size }}">
  <strong>
  	{% if tag != 'a' %}<a href="/app/{{ data.slug }}">{% endif %}
  	{{ data.name|translate(data) if data.name else data.slug }}
  	{% if tag != 'a' %}</a>{% endif %}
  </strong>
  <p>{{ data.author }}</p>
</{{ tag }}>
{% endmacro %}
