{% set cycler = color_cycle() %}

{% macro collection_overview(collection, show_thumbs=False) %}
<div class="collection overview">
  <strong><a href="{{ url('collection', [collection.slug]) }}">{{ collection.name|translate(collection) or _('(Unnamed collection)') }}</a></strong>
  {% if collection.description %}
    <p>{{ collection.description|translate(collection)|safe }}</p>
  {% endif %}
  <p class="labels">
    {% if collection.region %}
      <span class="label" style="background:{{ cycler(collection.region) }}">
        {{ _('Region:') }} <b>{{ model_lookup('region', collection.region).name }}</b></span>
    {% endif %}
    {% if collection.carrier %}
      <span class="label" style="background:{{ cycler(collection.carrier) }}">
        {{ _('Carrier:') }} <b>{{ model_lookup('carrier', collection.carrier).name }}</b></span>
    {% endif %}
    {% if collection.category %}
      <span class="label" style="background:{{ cycler(collection.category) }}">
        {{ _('Category:') }} <b>{{ model_lookup('category', collection.category).name }}</b></span>
    {% endif %}
  </p>
  {% if show_thumbs %}
    <div class="thumbs">
      {% for app in collection.apps %}
        <img src="{{ app.icons['16'] }}" alt="" width="24" height="24" title="{{ app.name|translate(app) }}">
      {% endfor %}
    </div>
  {% endif %}
  {% if collection.is_public %}
    <b class="public" title="{{ _('Collection is Public') }}"></b>
  {% endif %}
</div>
{% endmacro %}

{% macro public_warning(sets) %}
  {% set filtered = sets|filter(is_public=True) %}
  {% if sets.length and not filtered.length %}
    <p class="notice no_public">
      {{ _('There are no public collections of this type.') }}
    </p>
  {% endif %}
{% endmacro %}
