@import 'lib';

.button, .button:visited {
    // Bluish.
    btn-shadow();
    gradient-two-color(#428bca, #3276b1);
    background-repeat: repeat-x;
    border: 1px solid #125691;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font: 400 15px/32px $open-stack;
    min-width: 100px;
    white-space: nowrap;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus, &:active {
        background: #428bca;
    }
    &:active {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.2) inset,
                    0 0 2px 2px rgba(0,0,0,.2) inset;
        background: #327bba;
    }
}
.button {
    ellipsis();
    min-height: 32px;  // This is the line-height.
    position: relative;

    // Grayish.
    &.disabled, &[disabled] {
        background: $cloud-gray;
        border: 1px solid #b7b7b7;
        box-shadow: none;
        color: #a7a7a7;
        pointer-events: none;
    }
    &.alt {
        box-shadow: 0 1px 0 #fff, 0 1px 1px $salt-flat-white inset;
        gradient-two-color($cloud-gray, $cement-gray);
        border: 1px solid $easy-peasy-gray;
        color: #000;

        &:hover, &:focus {
            background: $cloud-gray;
        }
        &:active {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.2) inset,
                        0 12px 24px 6px rgba(0,0,0,.2) inset,
                        0 0 2px 2px rgba(0,0,0,.2) inset;
            border: 1px solid darken($easy-peasy-gray, 10%);
        }
    }
    &.product {
        fatten();
    }

    &[disabled], &.disabled {
        pointer-events: none;
    }

    .spinner {
        background-size: 24px auto;
        height: 24px;
        width: 24px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    .button {
        padding: 0 15px;
        &.fat {
            display: block;
            width: 100%;
        }
    }
}
