@import 'lib';

.collection {
    &.overview {
        border: 1px solid $seavan-salt-white;
        border-radius: 5px;
        margin: 0 10px 10px;
        padding: 10px;
    }
}

a.new_collection {
    color: $note-gray;
    display: block;
    padding: 10px;

    b {
        color: $sailor-blue
        display: block;
        float: left;
        font-size: 1.5em;
        line-height: 20px;
        margin-right: 5px;
    }
}
