.dialog {
    background: #fff;
    bottom: 20%;
    box-shadow: 0 4px 4px #999;
    left: 20%;
    overflow: auto;
    padding: 1em;
    position: fixed;
    right: 20%;
    top: 20%;
    z-index: 10;
}
