@import 'lib';

.infobox {
    border-top: 1px dashed $london-fog-gray;
    > div {
        padding: 24px 15px;
    }
    .not-rated {
        color: $medium-gray;
    }
    .average-rating {
        width: 100%;
    }
    ul.c {
        list-style-type: none;
        margin: -12px;
        padding: 0;
        li {
            float: left;
            margin: 0;
            min-height: inherit;
            padding: 12px;
            width: 25%;
            &:nth-child(2n) {
                padding: 12px;
            }
        }
        a {
            display: block;
        }
    }
    // Show one button per line when text is longer. This class is set via JS.
    &.overflowing ul.c li {
        padding: 12px;
        width: 50%;
        &:nth-child(2n) {
            padding: 12px;
        }
    }
    dl {
        margin: 15px 0 0;
    }
    dt, dd {
        color: $grey-gardens-gray;
        display: inline-block;
    }
    dt {
        margin-right: 5px;
    }
}
