@import 'lib';

// Site-wide or structural styles only in this file.
// Can't find a better file for your style? Create one!
// This is not your diaper.

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //text-rendering: optimizeLegibility;
    word-wrap: break-word;
}

.js-hidden, .hidden {
    display: none;
}

noscript {
    background: $salt-flat-white;
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    p {
        background: url(../img/pretty/marketplace_logo.png) 50% 48% no-repeat;
        background-size: auto 60px;
        display: table-cell;
        font-weight: bold;
        height: 100%;
        padding-top: 60px;
        text-align: center;
        vertical-align: middle;
    }
}

a {
    text-decoration: none;
    color: $sailor-blue;
    &:hover {
        text-decoration: underline;
    }
}

body {
    background: $salt-flat-white;
    color: $castle-skull-gray;
    // min-height needed so ff b2g/android can scroll to 0 (bug 872622).
    min-height: 300px;
    overflow-x: hidden;
    transform-origin: 50% 400px;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

#site-header, #page {
    min-width: 320px;
    section.main {
        margin-left: auto;
        margin-right: auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        &.full {
            width: 100%;
            > div {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

#page {
    position: relative;
    > .overlay {
        max-width: 100%;
    }
}

.row {
    clear: both;
    padding: 1em 0;

    > * {
        display: block;
        float: left;
    }

    > :last-child {
        clear: right;
    }

    &.gutter {
        padding: 1em;

        > *:not(:last-child) {
            padding-right: 1em;
        }
    }

    .full {width: 100%;}
    .half {width: 50%;}
    .third {width: 33.333%;}
    .two-thirds {width: 66.666%;}
    .quarter {width: 25%;}
}

section.group {
    background: #fff;
    border: 1px solid $seavan-salt-white;
    border-radius: 10px;
    margin-bottom: 1em;
    overflow: hidden;

    h1, h2, h3 {
        gradient-two-color(#fff, $salt-flat-white);
        border-bottom: 1px solid $seavan-salt-white;
        font-size: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    > * {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.detailed-error, .fragment-error {
    background: #fff;
    display: block;
    padding: 15px;

    b {
        display: block;
    }
}

.main {
    margin: 0 auto;
    .fragment-error {
        padding: 0;
    }
}

.two-up {
    width: 50%;
    float: left;
    &:nth-child(2n+1) {
        padding: 0 5px 0 0;
    }
    &:nth-child(2n) {
        padding: 0 0 0 5px;
    }
    .button {
        display: block;
    }
}


.only-logged-in,
.logged-in .only-logged-out {
    display: none;
}

.only-logged-out,
.logged-in .only-logged-in {
    display: block;
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}
